.DS_Store
.cpcache
.java-version
.nrepl-port
.ruby-gemset
.shadow-cljs
/inspector
/target
inspector-config.yml
log/
madek-media-service.jar
node_modules/
pom.xml
resources/built-info.yml
resources/media-service/public/js/
tmp/
tmux-client*.log
