.DS_Store
.cpcache
.java-version
.nrepl-port
.shadow-cljs
.ruby-gemset
log/
madek-media-service.jar
madek-media-service_aot.jar
node_modules/
pom.xml
resources/build-timestamp.txt
resources/commit-id.txt
resources/media-service/public/js/
tmp/
tmux-client*.log
