; logging file for development

{
 :min-level [[#{"madek.media-service.CHANGE-ME"} :debug]
             [#{"madek.media-service.*"} :info]
             [#{"*"} :warn]]
 ; min-level oder matters: it is greedy!

 }
